
<div class="jumbotron center">
    <h1>Welcome to My Pinterested App!</h1>
    
    <p>I am learning Ruby on Rails to build a clone of Pinterest</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-default' %>
    <%= link_to "Join", root_path, class: 'btn btn-primary' %>
    
</div>